<header>
  <nav class="fixed top-0 w-full p-4 mb-4 z-50 text-white bg-gray-800 flex-between font-extralight">
    <a [routerLink]="isAuthenticated()? '/shop': '/'" class="text-2xl ">Bookotopia</a>
    <div class="gap-5 flex-center">
      <ng-container *ngIf="!isAuthenticated()">
        <a routerLink="/login" class="hover:text-yellow-400">Sign in</a>
        <a routerLink="/register" class="hover:text-yellow-400">Register</a>
      </ng-container>
      <ng-container *ngIf="isAuthenticated()">
        <a href="/shop" class="hover:text-yellow-400">Shop</a>
        <span [ngClass]="{'self-center cursor-pointer hover:text-gray-300':true,
              'text-yellow-600 hover:text-yellow-700 border-b-[1px] border-yellow-600': isShowCart }"
          (click)="isShowCart=!isShowCart"> Cart
          ({{getTotalItems()}})</span>
        <button (click)="logout();isShowCart= false" class="hover:text-yellow-400">Log out</button>
      </ng-container>

    </div>
  </nav>
  <ng-container *ngIf="isShowCart">
    <app-cart></app-cart>
  </ng-container>
</header>
<main class="px-4 mt-32 min-h-[60vh]">
  <router-outlet></router-outlet>
</main>
<footer class="px-4 py-20 mt-20 text-center text-white border-t-[1px] border-gray-800">
  <a target="_blank" href="http://mirajaryal.com"
    class="transition duration-200 hover:scale-150 hover:underline hover:text-yellow-500">@Mraz</a>
</footer>
