<ng-container *ngIf="!isAuthenticated()">
  <div class="text-white max-w-[90vh] mx-auto mt-[2rem] lg:mt-[3rem] 2xl:mt-[12rem]">
    <p
      class="text-[3rem] sm:text-[5rem] md:text-[6rem] lg:text-[8rem] 2xl:text-[12rem] font-bold transform -rotate-[26deg] text-center translate-y-28 font-[fantasy]">
      Welcome to Bookoto<span class='text-yellow-500'>p</span>ia</p>
    <p
      class="font-extralight transform -rotate-[28deg] sm:-rotate-[30deg] mt-[40px] text-right translate-y-20 sm:translate-x-16">
      <a href='/login' class="font-bold text-yellow-500">Sign in</a> or <a href='/register'
        class="font-bold text-yellow-500">register</a> to continue
    </p>
  </div>
</ng-container>
