<ng-container *ngIf="!isAuthenticated()">
  <div class="text-white flex-center flex-wrap gap-12 text-left min-h-[70vh]">
    <div class="order-2 md:order-1 md:flex-1">
      <img src='/assets/Bookotopia.png' alt='Bookotopia' class='max-w-[500px] w-full mx-auto '
        style='filter: drop-shadow(2px 4px 6px black);' />
    </div>
    <div class="flex flex-col gap-4  order-1 md:order-2 md:flex-1 text-center md:text-left">
      <p class="text-5xl dancing-font">
        Welcome to Bookoto<span class='text-yellow-500'>p</span>ia</p>
      <p class="font-extralight">
        <a href='/login' class="text-yellow-500">Sign in</a> or <a href='/register' class="text-yellow-500">register</a>
        to continue
      </p>
    </div>
  </div>
</ng-container>
